accelerate==1.13.0
anls==0.0.2
apted==1.0.3
asposestorage==1.0.2
astor==0.8.1
attrdict==2.0.1
autopep8==2.3.2
av==17.0.0
beautifulsoup4==4.14.3
colormath==3.0.0
dashscope==1.25.16
decord==0.6.0
deepspeed==0.18.9
distance==0.1.3
eagle==0.2
editdistance==0.8.1
einops==0.8.2
epam_indigo==1.36.1
fastchat==0.1.0
fitz==0.0.1.dev2
flash_attn==2.8.3
func_timeout==4.3.5
geopy==2.4.1
gradio==6.12.0
huggingface_hub==0.36.2
imageio==2.37.3
infer==0.1
ipdb==0.13.13
jieba==0.42.1
Jinja2==3.1.6
json_repair==0.58.6
jsonlines==4.0.0
latex2sympy2==1.9.1
lxml==6.0.4
matplotlib==3.10.8
matplotlib_venn==1.1.2
mistral_common==1.11.0
mistral_inference==1.6.0
modelscope==1.35.4
moviepy==2.2.1
natsort==8.4.0
networkx==3.4.2
nltk==3.9.4
numpy==2.4.4
omegaconf==2.3.0
openai==2.31.0
opencv_python==4.13.0.92
openpyxl==3.1.5
packaging==26.0
pandas==3.0.2
pdf2image==1.17.0
peft==0.18.1
Pillow==12.2.0
portalocker==3.2.0
pronouncing==0.2.0
protobuf==7.34.1
pycocoevalcap==1.2
pylatexenc==2.10
pysubs2==1.8.1
python-dotenv==1.2.2
python_Levenshtein==0.27.3
pytorch_sphinx_theme==0.0.19
PyYAML==6.0.3
qwen_omni_utils==0.0.9
qwen_vl_utils==0.0.14
rapidfuzz==3.14.5
rdkit==2025.9.6
regex==2026.2.28
Requests==2.33.1
rich==15.0.0
sacrebleu==2.6.0
sat==0.7.0
scikit_learn==1.8.0
scipy==1.17.1
setuptools==81.0.0
spacy==3.8.14
Sphinx==9.1.0
squarify==0.4.4
sty==1.0.6
sympy==1.14.0
tabulate==0.10.0
tasks==2.8.0
termcolor==3.3.0
tiktoken==0.12.0
timeout_decorator==0.5.0
timm==1.0.26
tokenizers==0.22.2
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
transformers==4.57.0
Unidecode==1.4.0
validators==0.35.0
vertexai==1.71.1
vllm==0.19.0
whisper==1.1.10
word2number==1.1
xtuner==0.2.0
zhipuai==2.1.5.20250825
zss==1.2.0
